@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Norms";
  src: url('./fonts/TTNorms-Black.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "TT Norms";
  src: url('./fonts/TTNorms-ExtraBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "TT Norms";
  src: url('./fonts/TTNorms-Bold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "TT Norms";
  src: url('./fonts/TTNorms-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "TT Norms";
  src: url('./fonts/TTNorms-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "TT Norms";
  src: url('./fonts/TTNorms-Light.ttf');
  font-weight: 200;
}

body{
  font-family: 'TT Norms';
}